html * {
    font: 16px Arial, sans-serif;
}

.contenedor {
    
    flex-wrap:wrap;
    background: black
  }

.divform {
    width: calc(100% - 80px);
    height: 80px;
    overflow: auto;
    background: black;
    display:inline-block;    
}

.logo {
    float:left;
    margin:auto;
}

body{
    text-align: center;   
}

.custinput {
    position:relative;
    height: 40px;
    top:20px;
    width: 40% ;
    background: silver;
       
}

@media (min-width:768px)  {  .custinput {
    position:relative;
    height: 40px;
    top:20px;
    width: 30% ;
    background: silver; } 
       

  }

  @media (min-width:900px)  {  .custinput {
    position:relative;
    height: 40px;
    top:20px;
    width: 10%  ;
    background: silver;}    

  }

  th { 
      font-weight: bold;
  }